.content div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
}

.content div h2 {
    width: 100%;
    text-align: center;
}

.content div a {
    display: block;
    width: calc(50% - 50px);
    text-align: center;
}