section {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 50px auto;
}

section a[data-id] {
    width: calc(20% - 40px - (15px * 2));
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
section a[data-id]:has(.basket) {
    height: 250px !important;
}

section a[data-id] img {
    width: 60%;
    max-width: 200px;
    user-select: none;
    align-self: center;
}

section a[data-id] button.basket {
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: rgba(255, 127, 80, 0.5);
    transition: 0.4s background-color;
    border-radius: 15px;
}
section a[data-id] button.basket:hover,
section a[data-id] button.basket:focus {
    background-color: coral
}

section a[data-id] span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section a[data-id] span button {
    width: 15%;
    height: 30px;
    cursor: pointer;
    border-radius: 50px;
    background-color: rgba(135, 222, 155, 0.7);
    transition: 0.4s background-color;
}
section a[data-id] span button:hover,
section a[data-id] span button:focus {
    background-color: rgba(135, 222, 155, 1);
}
section a[data-id] span p {
    width: 60%;
    text-align: center;
}

@media (max-width: 1440px) {
    section a[data-id] {
        width: calc(25% - 40px - (15px * 2));
    }
}