* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    letter-spacing: 1px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a {
    color: black;
}
body main {
    flex: 1;
}

.content {
    width: 1440px;
    margin: 20px auto;
} 

.hidden {
    opacity: 0;
}
.button {
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    background-color: coral;
    padding: 20px;
    border-radius: 10px;
}


/* Форма */
.form {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.form .legend {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.form .field {
    width: calc(50% - 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

form .field:has(.input[type=checkbox]) {
    display: block;
}

form .field:has(label .input[type=checkbox]) {
    display: flex;
    flex-wrap: wrap;
    justify-content: unset;
}

form .field:has(label .input[type=checkbox]) p {
    width: 100%;
}

form .field:has(label .input[type=checkbox]) label {
    display: flex;
    gap: 20px;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.form .field.additional .field {
    width: 100%;
}

.form .field.additional .field label {
    width: 30%;
}

.form .field.additional .field label.hidden {
    display: none !important;
}

.form .field.hidden {
    display: none;
}

.form .field:has(input.button) {
    width: 100%;
    justify-content: center;
}

.form .field .label {
    width: 100%;
}

.form .field .label b {
    margin-left: 2px;
}

.form .field .input {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid black;
}

.form .field .input[type=checkbox] {
    width: 10%;
}

.form .field input.button {
    width: 50%;
    height: 50px;
    padding: 0;
    align-self: center;
    border-bottom: none;
}

.form .field .error {
    width: 100%;
    height: 20px;
    transition: 0.3s all;
    color: crimson;
}


.form .field .textarea {
    max-height: 150px;
    resize: vertical;
}


.item {
    width: calc(20% - 40px - (15px * 2));
}

.item a {
    width: 100%;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
.item:has(.basket) {
    height: max-content !important;
}

.item img {
    width: 60%;
    max-width: 200px;
    user-select: none;
    align-self: center;
}

.item button.basket {
    width: 100%;
    height: 40px;
    cursor: pointer;
    background-color: rgba(255, 127, 80, 0.5);
    transition: 0.4s background-color;
    border-radius: 15px;
}
.item button.basket:hover,
.item button.basket:focus {
    background-color: coral
}

.item span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item span button {
    width: 15%;
    height: 30px;
    cursor: pointer;
    border-radius: 50px;
    background-color: rgba(135, 222, 155, 0.7);
    transition: 0.4s background-color;
}
.item span button:hover,
.item span button:focus {
    background-color: rgba(135, 222, 155, 1);
}
.item span p {
    width: 60%;
    text-align: center;
}

@media (max-width: 1440px) {
    .item {
        width: calc(33% - 30px);
    }
}

@media (max-width: 767px) {
    .item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 360px) {
    .item {
        width: 100%;
    }
}


.avatar {
    height: 50px;
    aspect-ratio:  1 / 1;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid black;
}

header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    margin-bottom: 50px;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a {
    color: white;
    font-size: 1.2rem;
    transition: 0.5s color;
}
header nav a:hover,
header nav a:focus {
    color: chocolate;
}


.invisible {
    opacity: 0;
}


.modal {
    width: 33vw;
    position: absolute;
    inset: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 225px;
    z-index: 10;
    transition: 0.3s opacity;
}

.modal:not(.hidden) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal span {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rebeccapurple;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50px;
    gap: 20px;
}




footer {
    height: 200px;
    background-color: aquamarine;
}

@media (max-width: 1440px) {
    .content {
        width: 90vw;
    }
}

@media (max-width: 767px) {

    .form .field {
        width: 100%;
    }
}

@media (max-width: 360px) {
    .content {
        width: 98vw;
    }
}