/* ПЕРЕМЕННЫЕ */
:root {
    --content-width: 95vw;
    --header-color: #BE405F;
    --green-color: #007d00;
    --green-color-hover: #004c00;
    --body-color: #F3C6C6;
    --button-color: #9d2e3b;
    --button-color-hover: #71212a;
}

/* ОБЩИЕ СВОЙСТВА */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    color: var(--button-color);
    letter-spacing: 1px;
    line-height: 150%;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--body-color);
}

a {
    color: black;
}

body main {
    flex: 1;
    margin-top: 150px !important;
}

body main > .button  {
    margin: 0 auto;
}

.content {
    width: var(--content-width);
    max-width: 1720px;
    margin: 20px auto;
}

.hidden {
    display: none !important;
}

.button {
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    background-color: var(--button-color);
    padding: 15px;
    border-radius: 10px;
    transition: background-color 0.3s linear;
}

.button:hover,
.button:focus {
    background-color: var(--button-color-hover);
}

.button.green {
    background-color: var(--green-color);
}

.button.green:hover,
.button.green:focus {
    background-color: var( --green-color-hover);
}

.invisible {
    opacity: 0;
}

.avatar {
    height: 60px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 40px;
}

/* ФУТЕР */
footer {
    min-height: 150px;
    color: white;
    background-color: var(--header-color);
    flex-shrink: 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer-slogan {
    width: 100%;
    text-align: justify;
    color: white;
}

.footer-items {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-item {
    color: white;
    display: block;
}

.footer-copyright {
    width: 100%;
    text-align: center;
    color: white;
}

.footer-copyright br {
    display: none;
}

/* ФОРМА */
.form {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.form .legend {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.form .field {
    width: calc(50% - 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.form .field.additional .field {
    width: 100%;
    padding: 0;
}

.form .field.additional .field label {
    width: 30%;
}

.form .field.additional .field label.hidden {
    display: none !important;
}

.form .field.additional .field .button {
    width: 33%;
}

.form .field.hidden {
    display: none;
}

.form .field:has(input.button) {
    width: 100%;
    justify-content: center;
}

.form .field .label {
    width: 100%;
}

.form .field .label b {
    margin-left: 2px;
}

.form .field .input {
    width: 100%;
    height: 30px;
    padding: 20px;
    border-radius: 20px;
}

.form .field select.input {
    appearance: none !important;
    background-image: url("../img/main/selectArrow.png");
    background-repeat: no-repeat;
    background-position: right 20px top 50%;
    background-size: 14px auto;
    height: 40px;
    padding: 0 20px;
    position: relative;
    border-radius: 20px 20px 0 0;
}


.form .field-attributes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.form .field-attributes .field select.input {
    padding: 0;
}

.form .field-attributes .field,
.form .field:has(input[type=checkbox]) {
    height: max-content;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.form .field-attributes .field p,
.form .field-attributes .field .label {
    width: 100%;
}

.form .field-attributes .field label,
.form .field:has(input[type=checkbox]) .label {
    width: calc(25% - 10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    user-select: none;
    cursor: pointer;
}

.form .field:has(input[type=checkbox]) .label {
    width: 100%;
}

.form .field-attributes .field label .input,
.form .field:has(input[type=checkbox]) .input[type=checkbox] {
    display: block;
    width: 20px;
    height: 20px;
}

.form .field:has(input[type=file]) {
    gap: 2px;
}

.form .field input[type=file] {
    height: 40px;
    padding: 10px 20px;
    width: 50%;
    background-color: white;
}

.form .field:has(input[type=file]) img:not(.avatar) {
    width: 40%;
    border-radius: 30px;
}

.form .field input.button {
    width: 30%;
    height: 50px;
    padding: 0;
    align-self: center;
    border-bottom: none;
    border-radius: 15px;
}

.form .field .error {
    width: 100%;
    height: max-content;
    transition: all 0.3s linear;
    color: white;
    background-color: var(--button-color);
    border-radius: 10px;
}

.form .field .error:not(.invisible) {
    padding: 10px;
}

.form .field .textarea {
    min-height: 100px;
    max-height: 200px;
    resize: vertical;
}

/* ТОВАРЫ */
.items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    color: white;
    background-color: var(--button-color-hover);
    border-radius: 20px;
}

.items * {
    color: white;
}

.items .notfound {
    width: 100%;
    color: white;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
}

.item {
    background-color: var(--button-color);
    width: calc(25% - 15px);
    height: max-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    justify-content: space-between;
}

.items h2 {
    width: 100%;
}

.item-link {
    width: 100%;
    min-height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.item:has(.basket) {
    height: max-content !important;
}

.item-image {
    width: 100%;
    height: 250px;
    user-select: none;
    align-self: center;
    border-radius: 15px;
    object-fit: cover;
    border-radius: 30px
}

.item-basket {
    width: 100%;
    height: 40px;
    cursor: pointer;
    border-radius: 15px;
}

.item-counter-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-counter-minus, .item-counter-plus {
    width: 15%;
    height: 30px;
    cursor: pointer;
    border-radius: 50px;
    background-color: rgba(135, 222, 155, 0.7);
    transition: 0.4s background-color;
}

.item-counter-minus:hover, .item-counter-plus:hover,
.item-counter-minus:focus, .item-counter-plus:focus {
    background-color: rgba(135, 222, 155, 1);
}

.item-counter-container p {
    width: 60%;
    text-align: center;
}

/* ШАПКА */
header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-color);
    margin-bottom: 50px;
    flex-shrink: 0;
    position: fixed;
    top: 0;
    z-index: 10;
    /* opacity: 0 !important; */ /* ===== Чтобы видеть ошибки ===== */
}

header nav a {
    color: white;
    font-size: 1.2rem;
    transition: 0.5s color;
}

header nav a:hover,
header nav a:focus {
    color: var(--button-color-hover);
}

.header-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header-mobile {
    display: none;
    justify-content: flex-end;
    position: relative;
    margin: 0 auto;
}

.header-mobile-burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
}

.header-mobile-burger.open span:nth-of-type(1) {
    transform: rotate(-45deg);
}

.header-mobile-burger.open span:nth-of-type(2) {
    opacity: 0;
}

.header-mobile-burger.open span:nth-of-type(3) {
    transform: rotate(45deg);
}

.header-mobile-burger span {
    display: block;
    width: 58px;
    height: 3px;
    background-color: white;
    transition: transform 0.3s linear, opacity 0.3s linear;
}

.header-mobile-burger span:nth-of-type(1) {
    transform-origin: right top;
}

.header-mobile-burger span:nth-of-type(3) {
    transform-origin: right bottom;
}

.header-mobile-content {
    overflow-y: scroll;
    position: absolute;
    display: none;
    flex-direction: column;
    top: 100%;
    left: 0;
    transform: translate(-1.45%, 3.7%);
    background-color: var(--header-color);
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100vh - 100px);
    opacity: 0;
    transition: opacity 0.3s linear;
    gap: 20px;
    padding: 20px 0;
}

.header-mobile-content a {
    width: 90%;
    background-color: var(--button-color);
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

/* МОДАЛЬНОЕ ОКНО */
.modal {
    width: 33vw;
    position: fixed;
    inset: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 225px;
    z-index: 10;
    transition: 0.3s opacity;
}

.modal:not(.hidden) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal span {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--button-color-hover);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50px;
    gap: 20px;
}

.modal span * {
    color: white;
}

/* НОУТБУКИ 769px - 1440px */
@media (min-width: 769px) and (max-width: 1440px) {
    /* ОБЩИЕ СВОЙСТВА */
    html {
        --content-width: 96vw !important;
    }

    /* ФОРМА */
    .form .field-attributes .field label {
        width: calc(50% - 20px) !important;
    }

    /* ТОВАРЫ */
    .item {
        width: calc(33% - 15px);
    }
}

/* ПЛАНШЕТЫ 401px - 768px */
@media (min-width: 401px) and (max-width: 768px) {
    /* ОБЩИЕ СВОЙСТВА */
    html {
        --content-width: 97vw !important;
    }

    /* ШАПКА */
    .header-desktop {
        display: none;
    }

    .header-mobile {
        display: flex;
    }

    /* ФОРМА */
    .form .field {
        width: 100%;
    }

    .form .field input.button {
        width: 60%;
    }

    .form .field-attributes .field label {
        width: calc(50% - 20px) !important;
    }

    /* ТОВАРЫ */
    .item {
        width: calc(50% - 15px);
    }
}

/* ТЕЛЕФОНЫ 1px - 400px */
@media  (min-width: 1px) and (max-width: 400px) {
    /* ОБЩИЕ СВОЙСТВА */
    html {
        --content-width: 97vw !important; 
    }

    /* ШАПКА */
    .header-desktop {
        display: none;
    }

    .header-mobile {
        display: flex;
    }

    /* ФОРМА */
    .form .field, .form .field input.button {
        width: 100%;
    }

    .form .field-attributes .field label {
        width: 100% !important;
    }

    .form .field:has(input[type=checkbox]) .label .input {
        width: 30px;
        height: 30px;
    }

    .form .field:has(input[type=file]) {
       flex-direction: column;  
        gap: 20px;
    }

    .form .field input[type=file] {
        width: 100%;
    }

    .form .field:has(input[type=file]) img:not(.avatar) {
        width: 100%;
    }

    /* ТОВАРЫ */
    .item {
        width: 100%;
    }

    /* ФУТЕР */
    .footer-items {
        flex-direction: column;
    }

    .footer-item:has(img) {
        order: -1;
    }

    .footer-copyright br {
        display: block;
    }
}