* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    letter-spacing: 1px;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a {
    color: black;
}
body main {
    flex: 1;
}

.content {
    width: 1440px;
    margin: 20px auto;
} 

.hidden {
    opacity: 0;
}
.button {
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    background-color: coral;
    padding: 20px;
    border-radius: 10px;
}


/* Форма */
.form {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.form legend {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.form .field {
    width: calc(50% - 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.form .field:has(input.button) {
    width: 100%;
    justify-content: center;
}

.form .field .label {
    width: 100%;
}

.form .field .label b {
    margin-left: 2px;
}

.form .field .input {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid black;
}

.form .field input.button {
    width: 50%;
    height: 50px;
    padding: 0;
    align-self: center;
    border-bottom: none;
}

.form .field .error {
    width: 100%;
    height: 20px;
    transition: 0.3s all;
    color: crimson;
}

.form .field .server-error {
    text-align: center;
}


.textarea {
    max-height: 150px;
    resize: vertical;
}

.avatar {
    height: 50px;
    aspect-ratio:  1 / 1;
    border-radius: 50%;
    border: 1px solid black;
}

header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    margin-bottom: 50px;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a {
    color: white;
    font-size: 1.2rem;
    transition: 0.5s color;
}
header nav a:hover,
header nav a:focus {
    color: chocolate;
}



footer {
    height: 400px;
    background-color: aquamarine;
}

@media (max-width: 1440px) {
    .content {
        width: 1080px;
    }
}