.current-basket {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    padding: 50px 0;
    background-color: cornflowerblue;
    border-radius: 50px;
}

.current-basket h1 {
    font-size: 2rem;
    color: white;
    font-weight: normal;
}

.current-basket .basket {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px 0;
}

.current-basket .basket h1 {
    font-weight: normal;
    font-size: 2rem;
}

.current-basket .basket .item {
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    color: white;
}

.current-basket .basket .item img {
    width: 100%;
    height: 200px;
    user-select: none;
    align-self: center;
    border-radius: 15px;
    background-color: white;
}

.current-basket .buy {
    width: 50%;
    height: 60px;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    background-color: rgba(255, 127, 80, 1);
    transition: 0.4s background-color;
    border-radius: 15px;
}

.current-basket .buy:hover,
.current-basket .buy:focus {
    background-color: red;
}


.history-basket {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.history-basket .basket {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 25px 0;
}

.history-basket .basket> :is(h2, p) {
    width: 100%;
}

.history-basket .basket .item {
    width: 25%;
}

.history-basket .basket .item {
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.history-basket .basket .item img {
    width: 100%;
    height: 200px;
    user-select: none;
    align-self: center;
    border-radius: 15px;
    background-color: white;
}